@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}   


.btn {
    font-family: Inter, sans-serif;
    display: inline-block;
    text-decoration: none;
    padding: 16px 32px;
    
    
}

.margin-20{
    margin: 20px;
}
.bolt {
    font-weight: 700;
}

.black {
    color: black;
}

.white {
    color: white;
}

.font-green {
    background-color: #61FF7B;
}
.font-blue {
    background-color: #1398A0;
}

.radius-30 {
    border-radius: 30px;
}

.radius-8 {
    border-radius: 8px;
}

.radius-0-32 {
    border-radius: 0px 32px 0px 32px;
}

.border-solid-black {
    border: 1px solid black;
}
.border-dashed-black {
    border: 5px dashed black;
}

.margin-top-100 {
    margin-top: 100px;
}

.background-plage {
    background-image: url("asset/plage-2.jpg");
    background-size: 250%;
    background-repeat: no-repeat;
    
}

.countour {
    display: inline-block;
   border: 1px solid black;
   border-radius: 8px;
   padding: 10px;
   

}

.div {
    width: 30%;
    background-color: white;
    margin-left: 1% ;
    padding: 8px;
}

.card{
    width: 30%;
    padding: 8px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 16px;
    box-shadow: 0px 0px 75px hsl(0, 0%, 47%);
}

.w100 {
    width: 100%;
}

.w30 {
    width: 30%;
}

.border-8 {
    border-radius: 8px;
}

.mt-16 {
    margin-top: 16px;
}

.flex{
    display: flex;
    flex-wrap: wrap;
}

.space-around{
    justify-content: space-around;
}